<nb-layout>
  <nb-layout-header fixed>
    <div class="buttons-wrapper">
          <button title="Table columns settings" (click)="tableHideToggle()">tableHide</button>

    <button ng2SmartTableColumnEditor title="Table columns settings" [tableComponent]="table">settings</button>

    <button title="Table columns settings" (click)="setNewState(table)">set new state</button>
    <button title="Table columns settings" (click)="disableMulti(table)">disableMulti</button>
    <button title="Table columns settings" (click)="loadNew()">load new</button>
    <button title="Table columns settings" (click)="changeSort()">changeSort</button>
    <button title="Table columns settings" (click)="enableDelete(table)">enableDelete</button>
    <button title="Table columns settings" (click)="updateEditButtons(table)">updateEditButtons</button>
    <button title="Table columns settings" (click)="addNewRow()">addNewRow</button>
    <button title="Table columns settings" (click)="prepend()">prepend</button>


    </div>

  </nb-layout-header>
  <!-- sidebar is optional if you need it uncomment  -->
  <!-- <nb-sidebar tag="main-sidebar" fixed state="collapsed">
    <nb-menu [items]="menuItems" (click)="closeMenu()"> </nb-menu>
  </nb-sidebar> -->
  <nb-layout-column>
    <div class="table-wrapper">
      <ng2-smart-table
        #table
        [settings]="settings"
        (rowClicked)="clickEvent($event)"
        (deleteConfirm)="deleteConfirm($event)"
        (custom)="customEvent($event)"
        (editConfirm)="editConfirm($any($event))"
        (columnsSorted)="columnsSorted($event)"
        (multiRowSelect)="multiRowSelect($event)"
        [source]="source"></ng2-smart-table>
    </div>
  </nb-layout-column>
</nb-layout>
